/********** Main **********/

.main__papers {
  list-style: none;
}

.markdown-body .main__papers--compact .details {
  margin: 0;
}

.markdown-body .metadata {
  margin: 0;
  padding: 0;
  list-style: none;
}

.metadata li {
  display: inline;
  margin-right: 0.5rem;
}

.main__switch {
  cursor: pointer;
  font-size: 1rem;
  display: inline;
  height: 1.2rem;
  line-height: 1rem;
  float: right;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed;
  margin: 0;
  padding: 0;
}

.main__switch:hover,
.main__switch:focus {
  outline: none;
}

/********** Labels **********/

.markdown-body .labels__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.markdown-body .labels__label {
  cursor: pointer;
}

.markdown-body .labels__radio {
  margin-right: 0.4em;
}

.labels__submit {
  margin: 1em 1em 1em 0;
  height: 3em;
  cursor: pointer;
}

