/********** Main **********/

.main__papers {
  list-style: none;
}

.main__papers-paper {
  display: table;
}

.main__papers-paper > * {
  display: table-cell;
}

.main__papers-paper > input {
  margin-right: 0.6em;
  cursor: pointer;
}

.markdown-body .main__papers--compact .details {
  margin: 0;
}

.markdown-body .metadata {
  margin: 0;
  padding: 0;
  list-style: none;
}

.metadata li {
  display: inline;
  margin-right: 0.5rem;
}

/********** Labels **********/

.markdown-body .labels__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.markdown-body .labels__label {
  cursor: pointer;
}

.markdown-body .labels__radio {
  margin-right: 0.4em;
}

.labels__submit {
  margin: 1em 1em 1em 0;
  height: 3em;
  cursor: pointer;
}
