<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base target="_blank">
    <title>Scholar alert digest</title>
  </head>

  <body>
    <div class="container"></div>
  </body>
</html>
