<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/232/page-with-curl_1f4c3.png">
    <base target="_blank">
    <title>Scholar alert digest</title>
  </head>

  <body>
    <div class="container"></div>
  </body>
</html>
