* {
  box-sizing: border-box;
}

.markdown-body {
  min-width: 200px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 45px;
}

.markdown-body li+li {
  margin-top: 0;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
